* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.block {
    float: left;
    display: block;
    width: 50%;
}

.image {
    display: block;
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
}

.text {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
    box-shadow: inset 0 -0.5px 0px  rgba(112, 111, 111, 0.11),
                      0px 0.5px 0.7px rgba(112, 111, 111, 0.815);
}

.section {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #C9A96E;

    margin: 0;
    padding-top: 15px;
}

.title {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #171717;

    margin: 0;
    padding-left: 43px;
    padding-right: 42px;
    padding-bottom: 10px;
    padding-top: 4px;
}

.date{
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #666666;

    margin-top: 0;
    padding-bottom: 14px;
}

.unique {
    width: 100%;
    padding-bottom: 30px;
}

.unique-image {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
}

.unique-section{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #C9A96E;

    margin: 0;
    text-align: left;
    padding-left: 30px;
    padding-top: 25px;
}

.unique-title {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #171717;
    
    margin: 0;
    text-align: left;
    padding-left: 30px;
    padding-bottom: 12px;
    padding-top: 6px;
}

.unique-date {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #666666;

    margin: 0;
    text-align: left;
    padding-left: 30px;
}

.unique-paragraph {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    
    margin: 0;
    text-align: left;
    padding-top: 14px;
    padding-left: 30px;
    padding-bottom: 25px;
 }
